@{
    ViewBag.Title = "HangSanXuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/Content/assets/css/select2.min.css" />
    <style>
        .modal-lg {
            width: 1200px
        }
    </style>
}
    <div class="row">
        <form name="formHSX" novalidate>
            <div class="form-group col-lg-3">
                <label for="usr">
                    Tên Hãng Sản Xuất <span class="bigger-110 red">
                        *
                    </span>
                </label>
                <input type="text" name="Ten" ng-model="HangSanXuat.Ten" class="form-control" ng-minlength="5" ng-required="true">
                <span class="error text-danger" ng-show="formHSX.Ten.$error.required">Bạn chưa nhập trường này</span>
                <span class="error text-danger" ng-show="formHSX.Ten.$error.minlength">Tối thiểu 5 ký tự</span>
                <span class="valid" ng-show="formHSX.Ten.$valid"></span>
            </div>

            <div class="form-group col-lg-1">
                <label for="usr">
                    Thêm
                </label>
                <button class="form-control btn btn-success" ng-disabled="formHSX.$invalid" ng-click="ThemHSX()">
                    <i class="ace-icon fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>

<div class="row" ng-init="LayDanhSachHangSanXuat()">
    <div class="col-xs-12">
        <table id="simple-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in DanhSachHSX track by item.MaNhaCungCap">
                    <td>
                        {{item.Ten}}
                    </td>

                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-danger" ng-click="XoaHSX(item.MaNhaCungCap)">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

