@section Css{
    <link rel="stylesheet" href="~/Content/assets/css/select2.min.css" />
    <style>
        .modal-lg {
            width: 1050px
        }
    </style>
}

<h4 class="pink">
    <i class="ace-icon fa fa-plus icon-animated-hand-pointer blue"></i>
    <a href="#modal-table" role="button" class="green" data-toggle="modal"> Thêm Thiết Bị </a>
</h4>


<div class="widget-box" ng-init="
     LayDanhSachPhongBan();
     LayDanhSachHangSanXuat();
     LayDanhSachHopDong();
     LayDanhSachTinhTrang();
     LayDanhSachLoaiLinhKien()">
    <div class="widget-header" style="display:none">
        <h4 class="widget-title">Tìm Kiếm Thiết Bị</h4>

        <span class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </span>
    </div>

    <div class="widget-body" style="display:none">
        <div class="widget-main">
            <div class="row">
                <div class="col-lg-2">
                    <label for="form-field-select-1">Đơn Vị Sử Dụng</label>
                    <select class="form-control" id="form-field-select-1">
                        <option ng-click="ChonDonVi(0)">-- Tất Cả --</option>
                        <option ng-click="ChonDonVi(item.MaPhongBan)"
                                ng-repeat="item in DanhSachPhongBan">
                            {{item.Ten}}
                        </option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="form-field-select-1">Tình Trạng</label>
                    <select class="form-control" id="form-field-select-1">
                        <option ng-click="ChonTinhTrang(0)">-- Tất Cả --</option>
                        <option ng-click="ChonTinhTrang(item.MaTinhTrang)"
                                ng-repeat="item in DanhSachTinhTrang">
                            {{item.Ten}}
                        </option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="form-field-select-1">Lọc Thiết Bị</label>
                    <button class="btn btn-info form-control" ng-click="LocThietBi()"><i class="ace-icon fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-init="LayDanhSachThietBi(@ViewBag.MaDanhMuc)">
    <div class="col-xs-12">
        <table id="simple-table" class="table table-bordered table-hover" style="margin-bottom:0px!important">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Loại</th>
                    <th>MSTS</th>
                    <th>Model</th>
                    <th>Serial</th>
                    <th>Tên</th>
                    <th>Người Sử Dụng</th>
                    <th>Đơn Vị Sử Dụng</th>
                    <th>Hiện Trạng</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-show="DanhSachThietBi.length > 0" ng-repeat="item in DanhSachThietBi track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.Loai}}</td>
                    <td>{{item.MaTaiSan}}</td>
                    <td>{{item.Model}}</td>
                    <td>{{item.Serial}}</td>
                    <td>{{item.Ten}}</td>
                    <td>{{item.NguoiSuDung}}</td>
                    <td>{{item.ViTri}}</td>

                    <td><span class="label label-sm label-success">Đang Sử Dụng</span></td>

                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-warning" type="button" data-toggle="modal" data-target="#modalchitiet" ng-click="LayThongTinChiTiet(item.MaThietBi)">
                                <i class="ace-icon fa fa-eye bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-danger" ng-click="XoaThietBi(item.MaThietBi,$index)">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#modalsua" ng-click="LayThongTinChiTiet(item.MaThietBi)">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr ng-show="DanhSachThietBi.length === 0">
                    <td colspan="6">
                        <div class="clearfix">
                            <div class="pull-left alert alert-danger no-margin alert-dismissable" href="@Url.Action(" Index","Pages")?MaDanhMuc=-1">
                                <i class="ace-icon fa fa-times bigger-120 red"></i>
                                Danh Sách Thiết Bị Cho Danh Mục Này Đang Cập Nhật...
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination
            total-items="totalItems"
            items-per-page="itemsPerPage"
            ng-model="currentPage"
            boundary-link-numbers="true"
            rotate="false"
            max-size="5"
            @*class="pagination-sm"*@
            ng-change="pageChanged()"></ul>
    </div>
</div>

@*Modal thêm thiết bị*@
@{
    Html.RenderAction("ModelThem", "Pages");
}

@*Modal thông tin chi tiết thiết bị*@
@{
    Html.RenderAction("ModelChiTiet", "Pages");
}

@*Modal sửa thông tin thiết bị*@
@{
    Html.RenderAction("ModelSua", "Pages");
}

@section Scripts{
    <script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/js/buttons.flash.min.js"></script>
    <script src="~/Content/assets/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/js/dataTables.select.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>
    <script src="~/Content/assets/js/wizard.min.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/jquery-additional-methods.min.js"></script>
    <script src="~/Content/assets/js/bootbox.js"></script>
    <script src="~/Content/assets/js/jquery.maskedinput.min.js"></script>
}

@section ScriptsCode{
    <script type="text/javascript">
        jQuery(function ($) {
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if ($row.is('.detail-row ')) return;
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function (e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/

            /**
            //add horizontal scrollbars to a simple table
            $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
              {
                horizontal: true,
                styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
                size: 2000,
                mouseWheelLock: true
              }
            ).css('padding-top', '12px');
            *
        })
    </script>

    <script type="text/javascript">
        jQuery(function ($) {

            $('[data-rel=tooltip]').tooltip();

            $('.select2').css('width', '200px').select2({ allowClear: true })
                .on('change', function () {
                    $(this).closest('form').validate().element($(this));
                });


            var $validation = false;
            $('#fuelux-wizard-container')
                .ace_wizard({
                    //step: 2 //optional argument. wizard will jump to step "2" at first
                    //buttons: '.wizard-actions:eq(0)'
                })
                .on('actionclicked.fu.wizard', function (e, info) {
                    if (info.step == 1 && $validation) {
                        if (!$('#validation-form').valid()) e.preventDefault();
                    }
                })
                //.on('changed.fu.wizard', function() {
                //})
                .on('finished.fu.wizard', function (e) {
                    bootbox.dialog({
                        message: "Thank you! Your information was successfully saved!",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }).on('stepclick.fu.wizard', function (e) {
                    //e.preventDefault();//this will prevent clicking and selecting steps
                });


            //jump to a step
            /**
            var wizard = $('#fuelux-wizard-container').data('fu.wizard')
            wizard.currentStep = 3;
            wizard.setState();
            */

            //determine selected step
            //wizard.selectedItem().step



            //hide or show the other form which requires validation
            //this is for demo only, you usullay want just one form in your application
            $('#skip-validation').removeAttr('checked').on('click', function () {
                $validation = this.checked;
                if (this.checked) {
                    $('#sample-form').hide();
                    $('#validation-form').removeClass('hide');
                }
                else {
                    $('#validation-form').addClass('hide');
                    $('#sample-form').show();
                }
            })



            //documentation : http://docs.jquery.com/Plugins/Validation/validate


            $.mask.definitions['~'] = '[+-]';
            $('#phone').mask('(999) 999-9999');

            jQuery.validator.addMethod("phone", function (value, element) {
                return this.optional(element) || /^\(\d{3}\) \d{3}\-\d{4}( x\d{1,6})?$/.test(value);
            }, "Enter a valid phone number.");

            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                    name: {
                        required: true
                    },
                    phone: {
                        required: true,
                        phone: 'required'
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    comment: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    platform: {
                        required: true
                    },
                    subscription: {
                        required: true
                    },
                    gender: {
                        required: true,
                    },
                    agree: {
                        required: true,
                    }
                },

                messages: {
                    email: {
                        required: "Please provide a valid email.",
                        email: "Please provide a valid email."
                    },
                    password: {
                        required: "Please specify a password.",
                        minlength: "Please specify a secure password."
                    },
                    state: "Please choose state",
                    subscription: "Please choose at least one option",
                    gender: "Please choose gender",
                    agree: "Please accept our policy"
                },


                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                        var controls = element.closest('div[class*="col-"]');
                        if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if (element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if (element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                },
                invalidHandler: function (form) {
                }
            });




            $('#modal-wizard-container').ace_wizard();
            $('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');


            /**
            $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
                $(this).closest('form').validate().element($(this));
            });

            $('#mychosen').chosen().on('change', function(ev) {
                $(this).closest('form').validate().element($(this));
            });
            */


            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove remaining elements before leaving page
                $('[class*=select2]').remove();
            });
        })
    </script>
}