@section Css{
    <link rel="stylesheet" href="~/Content/assets/css/select2.min.css" />
    <style>
        .modal-lg {
            width: 1050px
        }
    </style>
}

<h4 class="pink">
    <i class="ace-icon fa fa-plus icon-animated-hand-pointer blue"></i>
    <a href="#modal-table" role="button" class="green" data-toggle="modal"> Thêm Thiết Bị </a>
</h4>

<div class="widget-box" ng-init="
     LayDanhSachPhongBan();
     LayDanhSachHangSanXuat();
     LayDanhSachHopDong();
     LayDanhSachTinhTrang();
     LayDanhSachLoaiLinhKien()">
    <div class="widget-header">
        <h4 class="widget-title">Tìm Kiếm Thiết Bị</h4>

        <span class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </span>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-lg-2">
                    <label for="form-field-select-1">Đơn Vị Sử Dụng</label>
                    <select class="form-control" id="form-field-select-1">
                        <option ng-click="ChonDonVi(0)">-- Tất Cả --</option>
                        <option ng-click="ChonDonVi(item.MaPhongBan)"
                                ng-repeat="item in DanhSachPhongBan">
                            {{item.Ten}}
                        </option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="form-field-select-1">Tình Trạng</label>
                    <select class="form-control" id="form-field-select-1">
                        <option ng-click="ChonTinhTrang(0)">-- Tất Cả --</option>
                        <option ng-click="ChonTinhTrang(item.MaTinhTrang)"
                                ng-repeat="item in DanhSachTinhTrang">
                            {{item.Ten}}
                        </option>
                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="form-field-select-1">Lọc Thiết Bị</label>
                    <button class="btn btn-info form-control" ng-click="LocThietBi()"><i class="ace-icon fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-init="LayDanhSachThietBi(@ViewBag.MaDanhMuc)">
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover" style="margin-bottom:0px!important">
            <thead>
                <tr>
                    <th class="detail-col">Model</th>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        Ngày Nhập Kho
                    </th>
                    <th class="hidden-480">Tình Trạng</th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-show="DanhSachThietBi.length > 0" ng-repeat="item in DanhSachThietBi">
                    <td>{{item.Model}}</td>

                    <td>{{item.Ten}}</td>
                    <td class="hidden-480">{{item.Gia}}</td>
                    <td>{{item.NgayNhapKho}}</td>

                    <td class="hidden-480">
                        <span class="label label-sm label-success">Đang Sử Dụng</span>
                    </td>

                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-warning" type="button" data-toggle="modal" data-target="#modalchitiet" ng-click="LayThongTinChiTiet(item.MaThietBi)">
                                <i class="ace-icon fa fa-eye bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-danger" ng-click="XoaThietBi(item.MaThietBi,$index)">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>

                            <button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#modalsua" ng-click="LayThongTinChiTiet(item.MaThietBi)">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr ng-show="DanhSachThietBi.length === 0">
                    <td colspan="6">
                        <div class="clearfix">
                            <div class="pull-left alert alert-danger no-margin alert-dismissable" href="@Url.Action(" Index","Pages")?MaDanhMuc=-1">
                                <i class="ace-icon fa fa-times bigger-120 red"></i>
                                Danh Sách Thiết Bị Cho Danh Mục Này Đang Cập Nhật...
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination
            total-items="totalItems"
            items-per-page="itemsPerPage"
            ng-model="currentPage"
            ng-change="pageChanged()"></ul>
    </div>
</div>

@*Modal thêm thiết bị*@
<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" id="closeBTN" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thêm Mới Thiết Bị
                </div>
            </div>

            <div class="modal-body">
                <h4 class="blue">
                    <span class="label label-purple arrowed-in-right">
                        <i class="ace-icon fa fa-info-circle smaller-80 align-middle"></i>
                        Thông Tin Chung
                    </span>
                </h4>

                <form name="formTB" ng-submit="ThemThietBi()" novalidate>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="sel1">
                                Nhóm Thiết Bị<span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <select class="form-control" ng-model="MaCha" ng-options="item as item.Ten for item in DanhSachDanhMuc" ng-change="LayDsNhom('them')"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="sel1">
                                Loại Thiết Bị<span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <select class="form-control" ng-model="MaCon" ng-options="item as item.Ten for item in DanhSachNhom" ng-change="ChonDanhMuc()"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Dòng Máy <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <input type="text" name="Model" ng-model="ThietBi.Model" class="form-control" ng-minlength="6" ng-required="true">
                            <span class="error text-danger" ng-show="formTB.Model.$error.required">Bạn chưa nhập trường này</span>
                            <span class="error text-danger" ng-show="formTB.Model.$error.minlength">Tối thiểu 5 ký tự</span>
                            <span class="valid" ng-show="formTB.Model.$valid"></span>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Tên Thiết Bị <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <input type="text" name="Ten" ng-model="ThietBi.Ten" class="form-control" ng-minlength="5" ng-required="true">
                            <span class="error text-danger" ng-show="formTB.Ten.$error.required">Bạn chưa nhập trường này</span>
                            <span class="error text-danger" ng-show="formTB.Ten.$error.minlength">Tối thiểu 5 ký tự</span>
                            <span class="valid" ng-show="formTB.Ten.$valid"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Hãng Sản Xuất <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <select class="form-control"
                                    ng-model="MaNhaCungCap"
                                    ng-options="item.Ten for item in DanhSachHSX track by item.MaNhaCungCap"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">Mã Tài Sản</label>
                            <input ng-model="ThietBi.MaTaiSan"
                                   type="text"
                                   class="form-control"
                                   ng-disabled="SoLuongThietBi > 1">
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Mã Số Thiết Bị <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <input type="text" name="Serial" id="Seri" ng-model="ThietBi.Serial" class="form-control" ng-minlength="6" ng-required="true" ng-disabled="SoLuongThietBi > 1">
                            <span class="error text-danger" ng-show="formTB.Serial.$error.required">Bạn chưa nhập trường này</span>
                            <span class="error text-danger" ng-show="formTB.Serial.$error.minlength">Tối thiểu 5 ký tự</span>
                            <span class="valid" ng-show="formTB.Serial.$valid"></span>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Số Lượng <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <input type="number" name="SoLuong" class="form-control" ng-model="SoLuongThietBi" ng-minlength="1" ng-required=true ng-change="showSerial()">
                            <span class="error text-danger" ng-show="formTB.SoLuong.$error.required">Bạn chưa nhập & nhập sai thông tin này</span>
                            <span class="error text-danger" ng-show="!formTB.SoLuong.$error.required && formTB.SoLuong.$invalid">Số lượng phải là số</span>
                            <span class="valid" ng-show="formTB.SoLuong.$valid"></span>
                        </div>

                        <div class="col-lg-12 col-sm-6 widget-container-col" id="widget-container-col-1" ng-show="SoLuongThietBi > 1">
                            <div class="widget-box" id="widget-box-1">
                                <div class="widget-header">
                                    <h5 class="widget-title">
                                        <span class="label label-purple arrowed-in-right">
                                            <i class="ace-icon fa fa-info-circle smaller-80 align-middle"></i>
                                            Thông Tin Chi Tiết {{SoLuongThietBi}} Thiết Bị
                                        </span>
                                    </h5>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Serial</th>
                                                    <th>Mã Tài Sản</th>
                                                    <th>Phòng Ban</th>
                                                    <th>Người Sử Dụng</th>
                                                    <th>Tình Trạng</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr ng-repeat="i in [].constructor(SoLuongThietBi) track by $index">
                                                    <td>{{$index + 1}}</td>
                                                    <td><input type="text" id="Serial{{$index + 1}}" class="form-control"></td>
                                                    <td><input type="text" id="MaTaiSan{{$index + 1}}" class="form-control"></td>
                                                    <td>
                                                        <select class="form-control"
                                                                id=MaPhongBan{{$index+1}}
                                                                ng-model="DonVi"
                                                                ng-options="item as item.Ten for item in DanhSachPhongBan track by item.MaPhongBan"
                                                                ng-change="getUser($index + 1,'none')"></select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="MaNguoiDung{{$index + 1}}">
                                                            <option ng-repeat="item in DanhSachNguoiDung"
                                                                    value={{item.MaNguoiDung}}>
                                                                {{item.Ten}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" id="MaTinhTrang{{$index + 1}}">
                                                            <option ng-repeat="item in DanhSachTinhTrang"
                                                                    value="{{item.MaTinhTrang}}">
                                                                {{item.Ten}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="usr">Đơn Vị Tính</label>
                            <select class="form-control" ng-model="ThietBi.DonViTinh">
                                <option value="Cm">Cm</option>
                                <option value="Mm">Mm</option>
                                <option value="Cái">Cái</option>
                                <option value="Bộ">Bộ</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="usr">
                                Giá Trị (VNĐ) <span class="bigger-110 red">
                                    *
                                </span>
                            </label>
                            <input type="number" name="Gia" class="form-control" ng-model="ThietBi.Gia" ng-required=true>
                            <span class="error text-danger" ng-show="formTB.Gia.$error.required">Bạn chưa nhập thông tin này</span>
                            <span class="error text-danger" ng-show="!formTB.Gia.$error.required && formTB.Gia.$invalid">Giá phải là số</span>
                            <span class="valid" ng-show="formTB.Gia.$valid"></span>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="sel1">Dự Án & Hợp Đồng</label>

                            <select class="form-control"
                                    ng-model="MaHopDong"
                                    ng-options="item as item.Ten for item in DanhSachHopDong track by item.MaHopDong"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label>
                                Số Hợp Đồng
                            </label>
                            <input type="text" name="SoHopDong" ng-model="ThietBi.SoHopDong" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label>
                                Ngày Ký
                            </label>
                            <input type="date" name="NgayKy" ng-model="ThietBi.NgayKy" class="form-control" style="line-height: 20px !important">
                        </div>

                        <div class="form-group col-lg-3">
                            <label>
                                Giá Trị Hợp Đồng
                            </label>
                            <input type="number" name="GiaTriHD" class="form-control" ng-model="ThietBi.GiaTriHD">
                            <span class="error text-danger" ng-show="!formTB.GiaTriHD.$error.required && formTB.GiaTriHD.$invalid">Giá trị phải là số</span>
                            <span class="valid" ng-show="formTB.GiaTriHD.$valid"></span>
                        </div>

                        <div class="form-group col-lg-3">
                            <label>
                                Ngày Mua @*<span class="bigger-110 red">
                                        *
                                    </span>*@<span class="bigger-110 red">
                                </span><span class="bigger-110 red">
                                </span><span class="bigger-110 red">
                                </span>
                            </label>
                            <input type="date" name="NgayNhapKho" ng-model="ThietBi.NgayNhapKho" class="form-control" style="line-height: 20px !important">
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="form-field-mask-1">
                                Thời Gian Bảo Hành @*<span class="bigger-110 red">
                                        *
                                    </span>*@<span class="bigger-110 red">
                                </span><span class="bigger-110 red">
                                </span><span class="bigger-110 red">
                                </span>
                            </label>
                            <input type="date" name="ThoiGianBaoHanh" ng-model="ThietBi.ThoiGianBaoHanh" class="form-control" style="line-height: 20px !important">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="sel1">Tình Trạng Thiết Bị </label>
                            <select class="form-control"
                                    ng-model="MaTinhTrang"
                                    ng-disabled="SoLuongThietBi > 1"
                                    ng-options="item as item.Ten for item in DanhSachTinhTrang track by item.MaTinhTrang"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="sel1">Đơn Vị Sử Dụng</label>
                            <select class="form-control"
                                    ng-model="DonVi"
                                    ng-options="item as item.Ten for item in DanhSachPhongBan"
                                    ng-disabled="SoLuongThietBi > 1"
                                    ng-change="LayNguoiDung()"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="sel1">Người Sử Dụng</label>
                            <select class="form-control"
                                    ng-model="MaNguoiDung"
                                    ng-options="item as item.Ten for item in DanhSachNguoiDung"
                                    ng-disabled="SoLuongThietBi > 1"
                                    ng-change="ChonNguoiDung()"></select>
                        </div>

                        <div class="form-group col-lg-3">
                            <label for="comment">Ghi Chú</label>
                            <input class="form-control"
                                   type="text"
                                   ng-model="ThietBi.GhiChu" />
                        </div>
                    </div>

                    <h4 class="blue">
                        <span class="label label-purple arrowed-in-right">
                            <i class="ace-icon fa fa-info-circle smaller-80 align-middle"></i>
                            Thông Tin + Thông Số Linh Kiện Đi Kèm
                        </span>
                    </h4>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Serial</th>
                                <th>Model</th>
                                <th>Nhà Cung Cấp</th>
                                <th>Ghi Chú</th>
                                <th ng-show="ThietBi.DanhSachLinhKien.length > 0"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in ThietBi.DanhSachLinhKien">
                                <td>{{item.TenLoaiLinhKien}}</td>
                                <td>{{item.Serial}}</td>
                                <td>{{item.Model}}</td>
                                <td>{{item.TenNhaCungCap}}</td>
                                <td>{{item.GhiChu}}</td>
                                <td>
                                    <div class="row" style="margin-right:0px !important">
                                        <div class="col-lg-6">
                                            <button type="button" class="btn btn-xs btn-danger" ng-click="XoaLinhKien($index)" ng-show="!suaLinhKien">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button type="button" class="btn btn-xs btn-info" ng-click="LayThongTinLinhKien($index)">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <select class="form-control" id="LoaiLinhKien">
                                        <option ng-repeat="item in DanhSachLoaiLinhKien"
                                                value="{{item.MaLoaiLinhKien}}">
                                            {{item.TenLinhKien}}
                                        </option>
                                    </select>
                                </td>

                                <td>
                                    <input class="form-control"
                                           type="text"
                                           id="Serial" />
                                </td>

                                <td>
                                    <input class="form-control"
                                           type="text"
                                           id="Model" />
                                </td>

                                <td>
                                    <select class="form-control" id="MaNhaCungCap">
                                        <option ng-repeat="item in DanhSachHSX"
                                                value="{{item.MaNhaCungCap}}">
                                            {{item.Ten}}
                                        </option>
                                    </select>
                                </td>

                                <td>
                                    <input class="form-control"
                                           type="text"
                                           id="GhiChu" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-info" ng-click="ThemLinhKien()" ng-show="!suaLinhKien">
                        <i class="ace-icon fa fa-plus"></i>Thêm Linh Kiện
                    </button>

                    <button type="button" class="btn btn-danger" ng-click="huySua()" ng-show="suaLinhKien">
                        <i class="ace-icon fa fa-times"></i>Hủy
                    </button>

                    <button type="button" class="btn btn-info" ng-click="SuaLinhKien()" ng-show="suaLinhKien">
                        <i class="ace-icon fa fa-edit"></i>Sửa
                    </button>

                    <button type="submit" class="btn btn-success pull-right" ng-disabled="formTB.$invalid">
                        <i class="ace-icon fa fa-plus"></i>Thêm Thiết Bị
                    </button>
                </form>
            </div>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Đóng
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*Modal thông tin chi tiết thiết bị*@
<div id="modalchitiet" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" id="closeBTN" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông Tin Thiết Bị
                </div>
            </div>

            <div class="modal-body">
                <h4 class="blue">
                    <span class="label label-purple arrowed-in-right">
                        <i class="ace-icon fa fa-info-circle smaller-80 align-middle"></i>
                        Thông Tin Chung
                    </span>
                </h4>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="sel1">
                            Nhóm - Loại Thiết Bị
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-model="ThongTinThietBi.DanhMuc" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="usr">Mã Tài Sản</label>
                        <input type="text"
                               class="form-control"
                               ng-model="ThongTinThietBi.MaTaiSan" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="usr">
                            Tên Thiết Bị
                        </label>
                        <input type="text"
                               name="Ten"
                               class="form-control"
                               ng-model="ThongTinThietBi.Ten" disabled>
                    </div>

                    <div class="form-group col-lg-2">
                        <label for="usr">
                            Hãng Sản Xuất
                        </label>
                        <input type="text"
                               class="form-control"
                               ng-model="ThongTinThietBi.NhaCungCap" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-3">
                        <label for="usr">
                            Dòng Máy
                        </label>
                        <input type="text"
                               name="Model"
                               class="form-control"
                               ng-model="ThongTinThietBi.Model" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="usr">
                            Mã Số Thiết Bị
                        </label>
                        <input type="text"
                               name="Serial"
                               class="form-control"
                               ng-model="ThongTinThietBi.Serial" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="usr">Đơn Vị Tính</label>
                        <input type="text"
                               class="form-control"
                               ng-model="ThongTinThietBi.DonViTinh" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="usr">
                            Giá Trị (VNĐ)
                        </label>
                        <input type="number"
                               name="Gia"
                               class="form-control"
                               ng-model="ThongTinThietBi.Gia" disabled>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-lg-3">
                        <label>
                            Ngày Mua
                        </label>
                        <input type="text"
                               name="NgayNhapKho"
                               class="form-control"
                               ng-model="ThongTinThietBi.NgayNhapKho" disabled>
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="form-field-mask-1">
                            Thời Gian Bảo Hành
                        </label>
                        <input type="text"
                               name="ThoiGianBaoHanh"
                               class="form-control"
                               ng-model="ThongTinThietBi.ThoiGianBaoHanh" disabled>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="sel1">Ghi Chú</label>
                        <input type="text"
                               class="form-control"
                               ng-model="ThongTinThietBi.GhiChu" disabled>
                    </div>
                </div>

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#home">
                                <i class="green ace-icon fa fa-list bigger-120"></i>
                                Thông Tin + Lịch Sử Linh Kiện <span class="badge badge-danger">{{ThongTinThietBi.DanhSachLinhKien.length}}</span>
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#messages">
                                <i class="green ace-icon fa fa-cogs bigger-120"></i>
                                Lịch Sử Thiết Bị
                                <span class="badge badge-danger">{{ThongTinThietBi.LichSuThietBi.length}}</span>
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#contracts">
                                <i class="green ace-icon fa fa-book bigger-120"></i>
                                Danh Sách Hợp Đồng
                                <span class="badge badge-danger">{{ThongTinThietBi.DanhSachHopDong.length}}</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Loại Linh Kiện</th>
                                        <th>Serial</th>
                                        <th>Model</th>
                                        <th>Nhà Cung Cấp</th>
                                        <th>Ghi Chú</th>
                                        <th>Tình Trạng</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ThongTinThietBi.DanhSachLinhKien">
                                        <td>{{item.TenLoaiLinhKien}}</td>
                                        <td>{{item.Serial}}</td>
                                        <td>{{item.Model}}</td>
                                        <td>{{item.NhaCungCap}}</td>
                                        <td>{{item.GhiChu}}</td>
                                        <td><span class="label label-xlg label-success arrowed arrowed-right">Chờ Bàn Giao</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="messages" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Người Sử Dụng</th>
                                        <th>Đơn Vị</th>
                                        <th>Hình Thức</th>
                                        <th>Chi Phí</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ThongTinThietBi.LichSuThietBi">
                                        <td>12/02/2020</td>
                                        <td>{{item.NguoiDung}}</td>
                                        <td>{{item.DonVi}}</td>
                                        <td>{{item.TinhTrang}}</td>
                                        <td>Đang Cập Nhật</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="contracts" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Số Hợp Đồng</th>
                                        <th>Tên Hợp Đồng</th>
                                        <th>Giá Trị Hợp Đồng</th>
                                        <th>Ngày Ký</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ThongTinThietBi.DanhSachHopDong">
                                        <td>{{item.SoHopDong}}</td>
                                        <td>{{item.Ten}}</td>
                                        <td>{{item.GiaTriHD}}</td>
                                        <td>{{item.NgayKy | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Đóng
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*Modal sửa thông tin thiết bị*@
<div id="modalsua" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" id="closeBTN" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Cập Nhật Thông Tin Thiết Bị
                </div>
            </div>

            <div class="modal-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#ttc">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                Chung
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#lstb">
                                <i class="green ace-icon fa fa-cogs bigger-120"></i>
                                Tình Trạng Sử Dụng
                                <span class="badge badge-danger">{{ThongTinThietBi.LichSuThietBi.length}}</span>
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#lk">
                                <i class="green ace-icon fa fa-list bigger-120"></i>
                                Linh Kiện <span class="badge badge-danger">{{ThongTinThietBi.DanhSachLinhKien.length}}</span>
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#hd">
                                <i class="green ace-icon fa fa-book bigger-120"></i>
                                Hợp Đồng
                                <span class="badge badge-danger">{{ThongTinThietBi.DanhSachHopDong.length}}</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="ttc" class="tab-pane fade in active">
                            <form name="formSuaTB" ng-submit="SuaThietBi()" novalidate>
                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label for="sel1">
                                            Nhóm Thiết Bị<span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <select class="form-control"
                                                ng-model="MaChaSua"
                                                ng-options="item as item.Ten for item in DanhSachDanhMuc"
                                                ng-change="LayDsNhom('sua')"></select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="sel1">
                                            Loại Thiết Bị<span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <select class="form-control"
                                                ng-model="MaConSua"
                                                ng-options="item as item.Ten for item in DanhSachNhomSua"></select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="usr">Mã Tài Sản</label>
                                        <input ng-model="ThongTinThietBi.MaTaiSan"
                                               type="text"
                                               class="form-control">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="usr">
                                            Tên Thiết Bị <span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <input type="text" name="Ten" ng-model="ThongTinThietBi.Ten" class="form-control" ng-minlength="5" ng-required="true">
                                        <span class="error text-danger" ng-show="formSuaTB.Ten.$error.required">Bạn chưa nhập trường này</span>
                                        <span class="error text-danger" ng-show="formSuaTB.Ten.$error.minlength">Tối thiểu 5 ký tự</span>
                                        <span class="valid" ng-show="formSuaTB.Ten.$valid"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label for="usr">
                                            Hãng Sản Xuất <span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>

                                        <select class="form-control"
                                                ng-model="MaNCC"
                                                ng-options="item as item.Ten for item in DanhSachHSX"></select>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="usr">
                                            Model <span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <input type="text" name="Model" ng-model="ThongTinThietBi.Model" class="form-control" ng-minlength="6" ng-required="true">
                                        <span class="error text-danger" ng-show="formSuaTB.Model.$error.required">Bạn chưa nhập trường này</span>
                                        <span class="error text-danger" ng-show="formSuaTB.Model.$error.minlength">Tối thiểu 5 ký tự</span>
                                        <span class="valid" ng-show="formSuaTB.Model.$valid"></span>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="usr">
                                            Serial <span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <input type="text" name="Serial" ng-model="ThongTinThietBi.Serial" class="form-control" ng-minlength="6" ng-required="true">
                                        <span class="error text-danger" ng-show="formSuaTB.Serial.$error.required">Bạn chưa nhập trường này</span>
                                        <span class="error text-danger" ng-show="formSuaTB.Serial.$error.minlength">Tối thiểu 5 ký tự</span>
                                        <span class="valid" ng-show="formSuaTB.Serial.$valid"></span>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="usr">Đơn Vị Tính</label>
                                        <select class="form-control" ng-model="ThongTinThietBi.DonViTinh">
                                            <option value="Cm" ng-selected="ThongTinThietBi.DonViTinh == 'Cm'">Cm</option>
                                            <option value="Mm" ng-selected="ThongTinThietBi.DonViTinh == 'Mm'">Mm</option>
                                            <option value="Cái" ng-selected="ThongTinThietBi.DonViTinh == 'Cái'">Cái</option>
                                            <option value="Bộ" ng-selected="ThongTinThietBi.DonViTinh == 'Bộ'">Bộ</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-3">
                                        <label for="usr">
                                            Giá Trị (VNĐ) <span class="bigger-110 red">
                                                *
                                            </span>
                                        </label>
                                        <input type="number" name="Gia" class="form-control" ng-model="ThongTinThietBi.Gia" ng-required=true>
                                        <span class="error text-danger" ng-show="formSuaTB.Gia.$error.required">Bạn chưa nhập thông tin này</span>
                                        <span class="error text-danger" ng-show="!formSuaTB.Gia.$error.required && formSuaTB.Gia.$invalid">Giá phải là số</span>
                                        <span class="valid" ng-show="formSuaTB.Gia.$valid"></span>
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>
                                            Ngày Mua <span class="bigger-110 red" ng-bind="ThongTinThietBi.NgayNhapKho"></span>
                                        </label>
                                        <input type="date" class="form-control" ng-model="ThongTinThietBi.NgayNhapKho">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="form-field-mask-1">
                                            Thời Gian Bảo Hành <span class="bigger-110 red" ng-bind="ThongTinThietBi.ThoiGianBaoHanh"></span>
                                        </label>
                                        <input type="date" class="form-control" ng-model="ThongTinThietBi.ThoiGianBaoHanh">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label for="comment">Ghi Chú</label>
                                        <input class="form-control"
                                               type="text"
                                               ng-model="ThongTinThietBi.GhiChu" />
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success" ng-disabled="formSuaTB.$invalid" ng-click="CapNhatTB('chung')">
                                    <i class="ace-icon fa fa-check"></i>Cập Nhật
                                </button>
                            </form>
                        </div>

                        <div id="lstb" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Đơn Vị</th>
                                        <th>Người Sử Dụng</th>
                                        <th>Hình Thức</th>
                                        <th>Chi Phí (VNĐ)</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @*<tr ng-repeat="item in ThongTinThietBi.LichSuThietBi">
                                        <td>12/02/2020</td>
                                        <td>
                                            <select class="form-control"
                                                    id="Mpb{{$index}}"
                                                    ng-model="item.MaDonVi"
                                                    ng-options="item as item.Ten for item in DanhSachPhongBan track by item.MaPhongBan"
                                                    ng-change="getUser($index,'sua')"></select>
                                        </td>

                                        <td>
                                            <select class="form-control" id="listUser{{$index}}" ng-model="item.MaNguoiDung"></select>
                                        </td>

                                        <td>
                                            <select class="form-control" id="tinhTrang{{$index}}">
                                                <option ng-repeat="item in DanhSachTinhTrang"
                                                        value="{{item.MaTinhTrang}}">
                                                    {{item.Ten}}
                                                </option>
                                            </select>
                                        </td>

                                        <td>
                                            <input type="text" class="form-control" id="Cp{{$index}}" />
                                        </td>
                                    </tr>*@

                                      <tr ng-repeat="item in ThongTinThietBi.LichSuThietBi">
                                          <td>12/02/2020</td>
                                          <td ng-bind="item.DonVi"></td>

                                          <td ng-bind="item.NguoiDung"></td>

                                          <td ng-bind="item.TinhTrang"></td>

                                          <td ng-bind="item.ChiPhi"></td>

                                          <td>
                                              <div class="row">
                                                  <div class="col-lg-6">
                                                      <button type="button" class="btn btn-xs btn-danger">
                                                          <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                      </button>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <button type="button" class="btn btn-xs btn-info">
                                                          <i class="ace-icon fa fa-eye bigger-120"></i>
                                                      </button>
                                                  </div>
                                              </div>
                                          </td>
                                      </tr>

                                    @*<tr>
                                        <td>
                                            <button class="form-control btn btn-info" ng-click="ThemThongTin('lstb')">
                                                <i class="ace-icon fa fa-plus"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <select class="form-control" id="pb">
                                                <option ng-repeat="item in DanhSachPhongBan"
                                                        value="{{item.MaPhongBan}}">
                                                    {{item.Ten}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" id="nds">
                                                <option ng-repeat="item in DanhSachNguoiDung"
                                                        value="{{item.MaNguoiDung}}">
                                                    {{item.Ten}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" id="tts">
                                                <option ng-repeat="item in DanhSachTinhTrang">
                                                    {{item.Ten}}
                                                </option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" id="cp" /></td>
                                    </tr>*@
                                </tbody>
                            </table>

                            <button class="btn btn-success" ng-click="CapNhatTB('lstb')">
                                <i class="ace-icon fa fa-check"></i>Cập Nhật
                            </button>
                        </div>

                        <div id="lk" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Serial</th>
                                        <th>Model</th>
                                        <th>NCC</th>
                                        <th>Ghi Chú</th>
                                        <th>Tình Trạng</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ThongTinThietBi.DanhSachLinhKien">
                                        <td>{{item.TenLoaiLinhKien}}</td>
                                        <td>{{item.Serial}}</td>
                                        <td>{{item.Model}}</td>
                                        <td>{{item.NhaCungCap}}</td>
                                        <td>{{item.GhiChu}}</td>
                                        <td><span class="label label-xlg label-success arrowed arrowed-right">Chờ Bàn Giao</span></td>
                                        <td>
                                            <div class="row" style="margin-right:0px !important">
                                                <div class="col-lg-6">
                                                    <button type="button" class="btn btn-xs btn-danger">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button type="button" class="btn btn-xs btn-info">
                                                        <i class="ace-icon fa fa-edit bigger-120"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td><input type="text" class="form-control" /></td>
                                        <td>
                                            <select class="form-control" id="sel1">
                                                <option ng-repeat="item in DanhSachTinhTrang">{{item.Ten}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="form-control btn btn-primary"><i class="ace-icon fa fa-plus bigger-120"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success"><i class="ace-icon fa fa-check bigger-120"></i>Cập Nhật</button>
                        </div>

                        <div id="hd" class="tab-pane fade">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Số Hợp Đồng</th>
                                        <th>Tên Hợp Đồng</th>
                                        <th>Giá Trị Hợp Đồng</th>
                                        <th>Ngày Ký</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in ThongTinThietBi.DanhSachHopDong">
                                        <td>{{item.SoHopDong}}</td>
                                        <td>{{item.Ten}}</td>
                                        <td>{{item.GiaTriHD}}</td>
                                        <td>{{item.NgayKy | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Đóng
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/js/buttons.flash.min.js"></script>
    <script src="~/Content/assets/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/js/dataTables.select.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>
    <script src="~/Content/assets/js/wizard.min.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/jquery-additional-methods.min.js"></script>
    <script src="~/Content/assets/js/bootbox.js"></script>
    <script src="~/Content/assets/js/jquery.maskedinput.min.js"></script>
}

@section ScriptsCode{
    <script type="text/javascript">
        jQuery(function ($) {
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if ($row.is('.detail-row ')) return;
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function (e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/

            /**
            //add horizontal scrollbars to a simple table
            $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
              {
                horizontal: true,
                styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
                size: 2000,
                mouseWheelLock: true
              }
            ).css('padding-top', '12px');
            *
        })
    </script>

    <script type="text/javascript">
        jQuery(function ($) {

            $('[data-rel=tooltip]').tooltip();

            $('.select2').css('width', '200px').select2({ allowClear: true })
                .on('change', function () {
                    $(this).closest('form').validate().element($(this));
                });


            var $validation = false;
            $('#fuelux-wizard-container')
                .ace_wizard({
                    //step: 2 //optional argument. wizard will jump to step "2" at first
                    //buttons: '.wizard-actions:eq(0)'
                })
                .on('actionclicked.fu.wizard', function (e, info) {
                    if (info.step == 1 && $validation) {
                        if (!$('#validation-form').valid()) e.preventDefault();
                    }
                })
                //.on('changed.fu.wizard', function() {
                //})
                .on('finished.fu.wizard', function (e) {
                    bootbox.dialog({
                        message: "Thank you! Your information was successfully saved!",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }).on('stepclick.fu.wizard', function (e) {
                    //e.preventDefault();//this will prevent clicking and selecting steps
                });


            //jump to a step
            /**
            var wizard = $('#fuelux-wizard-container').data('fu.wizard')
            wizard.currentStep = 3;
            wizard.setState();
            */

            //determine selected step
            //wizard.selectedItem().step



            //hide or show the other form which requires validation
            //this is for demo only, you usullay want just one form in your application
            $('#skip-validation').removeAttr('checked').on('click', function () {
                $validation = this.checked;
                if (this.checked) {
                    $('#sample-form').hide();
                    $('#validation-form').removeClass('hide');
                }
                else {
                    $('#validation-form').addClass('hide');
                    $('#sample-form').show();
                }
            })



            //documentation : http://docs.jquery.com/Plugins/Validation/validate


            $.mask.definitions['~'] = '[+-]';
            $('#phone').mask('(999) 999-9999');

            jQuery.validator.addMethod("phone", function (value, element) {
                return this.optional(element) || /^\(\d{3}\) \d{3}\-\d{4}( x\d{1,6})?$/.test(value);
            }, "Enter a valid phone number.");

            $('#validation-form').validate({
                errorElement: 'div',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: "",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                    name: {
                        required: true
                    },
                    phone: {
                        required: true,
                        phone: 'required'
                    },
                    url: {
                        required: true,
                        url: true
                    },
                    comment: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    platform: {
                        required: true
                    },
                    subscription: {
                        required: true
                    },
                    gender: {
                        required: true,
                    },
                    agree: {
                        required: true,
                    }
                },

                messages: {
                    email: {
                        required: "Please provide a valid email.",
                        email: "Please provide a valid email."
                    },
                    password: {
                        required: "Please specify a password.",
                        minlength: "Please specify a secure password."
                    },
                    state: "Please choose state",
                    subscription: "Please choose at least one option",
                    gender: "Please choose gender",
                    agree: "Please accept our policy"
                },


                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },

                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                        var controls = element.closest('div[class*="col-"]');
                        if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if (element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if (element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                },
                invalidHandler: function (form) {
                }
            });




            $('#modal-wizard-container').ace_wizard();
            $('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');


            /**
            $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
                $(this).closest('form').validate().element($(this));
            });

            $('#mychosen').chosen().on('change', function(ev) {
                $(this).closest('form').validate().element($(this));
            });
            */


            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove remaining elements before leaving page
                $('[class*=select2]').remove();
            });
        })
    </script>
}